{%  extends 'layout.html.twig' %} 

{% block content %}
			
<h1 style="padding-top: 2%; text-align: center;">Cartes du monde</h1>
     <div class="container"  style="padding-top: 2%">
	 <table class="table table-striped table-sm">
                <thead>
                   <tr>
                    {# <th></th> #}
                    <th>Région</th>
                    <th>Pays</th>
                    <th>Déplacement</th>
                    <th>Temps(h/m/s)</th>
                    <th>Kilomètres</th>
                    <th>Difficulté</th>
                    <th>Matériel</th>
                    </tr>
                </thead>
                {% for carte in cartes  %}
                <tbody>
                    <tr>
                    {# <td><img href="{{ asset('.img/maps.png')}}" alt="carte" height="42" width="42"></td> #}
                    <td>{{ carte.region }}</td>
                    <td>{{ carte.pays }}</td>
                    <td>{{ carte.deplacement }}</td>
                    <td>{{ carte.temps }}</td>
                    <td>{{ carte.nbKm }}</td>
                    <td>{{ carte.difficulte }}</td>
                    <td>{{ carte.materiel }}</td>
                    <td>
                       <a href="{{ path('carte', {'id' : carte.idCartes }) }}"><button class="btn btn-sm btn-outline-secondary">Voir</button></a>
                    </td>
                </tbody>
			{% endfor %}
                </table>           
{% endblock %}
