{%  extends 'layout_admin.html.twig' %} 

{% block content %}
		<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="font-size: 30px;">Back office</a>
        </nav>
    
        <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="padding-top: 20%;">
                <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">
                    <span data-feather="home"></span>
                    Accueil<span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('adminCartes') }}">
                    <span data-feather="file"></span>
                   Cartes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('useradmin') }}">
                    <span data-feather="shopping-cart"></span>
                  Utilisateurs
                    </a>
                </li>
                </ul>
            </div>
            </nav>
    
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Espace Administrateur</h1>
            </div>
    
            <h2>Cartes</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                <thead>
                    <tr>
                    <th>Id_cartes</th>
                    <th>Région</th>
                    <th>Pays</th>
                    <th>Id_utilisateur</th>
                    <th>Déplacement</th>
                    <th>Temps(h/m/s)</th>
                    <th>Kilomètres</th>
                    <th>Difficulté</th>
                    <th>Matériel</th>
                    </tr>
                </thead>
			{% for carte in cartes  %}
                <tbody>
                    <tr>
                    <td>{{ carte.idCartes }}</td>
                    <td>{{ carte.region }}</td>
                    <td>{{ carte.pays }}</td>
                    <td>{{ carte.idUtilisateur }}</td>
                    <td>{{ carte.deplacement }}</td>
                    <td>{{ carte.temps }}</td>
                    <td>{{ carte.nbKm }}</td>
                    <td>{{ carte.difficulte }}</td>
                    <td>{{ carte.materiel }}</td>
                    <td>
                       <a href="{{ path('carte', {'id' : carte.idCartes }) }}"><button class="btn btn-sm btn-outline-secondary">Voir</button></a>
                       <a href="{{ path('deleteCarteAdmin', {'id' : carte.idCartes }) }}"><button class="btn btn-sm btn-outline-secondary">Supprimer</button></a>
                    </td>
			{% endfor %}
                
{% endblock %}
